In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account

# We will import a customized function called client which actually returns an authorized bigquery client object with right credentials
# this will cost us an extra pair of () each time we call the client object which is now called by the function client we define in bq_sa_auth.py 

from bq_sa_auth import client

## *Exercises:*

### 1) Units of measurement

Which countries have reported pollution levels in units of "ppm"?  In the code cell below, set `first_query` to an SQL query that pulls the appropriate entries from the `country` column.

In [3]:
ppm_query = """
            SELECT country
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE unit = 'ppm'
            """

ONE_GB = 1000*1000*1000

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = ONE_GB)

query_job = client().query(ppm_query, job_config=safe_config)

ppm_df = query_job.to_dataframe()

ppm_countries = ppm_df.country.unique()

print(ppm_countries, len(ppm_countries))

['IL' 'AR' 'CO' 'TW' 'PE' 'EC' 'AU' 'BR' 'CA' 'MX' 'TH' 'US' 'ZA' 'NP'
 'GT' 'AE' 'QA' 'CH' 'BM' 'CL' 'BH' 'GB' 'RW' 'UZ' 'CW' 'IN' 'RO' 'MM'] 28

### 2) High air quality

Which pollution levels were reported to be exactly 0?  
- Set `zero_pollution_query` to select **all columns** of the rows where the `value` column is 0.
- Set `zero_pollution_results` to a pandas DataFrame containing the query results.

In [3]:
zero_pol_query = """
            SELECT *
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE value = 0
            """

ONE_GB = 1000*1000*1000

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = ONE_GB)

query_job = client().query(zero_pol_query, job_config=safe_config)

zero_pol_df = query_job.to_dataframe()

zero_pol_df.head()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Żary, ul. Szymanowskiego 8",Żary,PL,bc,0.0,2022-05-05 02:00:00+00:00,µg/m³,GIOS,1.0,51.642656,15.127808,POINT(51.642656 1)
1,"Starachowice, ul. Złota",Starachowice,PL,bc,0.0,2022-05-08 11:00:00+00:00,µg/m³,GIOS,1.0,51.050611,21.084175,POINT(51.050611 1)
2,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.0,2022-05-07 13:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
3,"Zielonka, Bory Tucholskie",Zielonka,PL,bc,0.0,2022-05-15 11:00:00+00:00,µg/m³,GIOS,1.0,53.662136,17.933986,POINT(53.662136 1)
4,"Żagań, ul. Kochanowskiego",Żagań,PL,bc,0.0,2022-05-02 13:00:00+00:00,µg/m³,GIOS,1.0,51.615447,15.301667,POINT(51.615447 1)